openapi: 3.0.3
info:
  title: papiNet API
  description: papinet API is a global initiative for the Forst and Paper supply chain.
  contact:
    name: papiNet API CWG
    url: https://github.com/papinet/papiNet-API/issues
  license:
    name: Apache 2.0
    url: https://github.com/papinet/papiNet-API/blob/patrice-v1.0.0/LICENSE
  version: 1.0.0
servers:
  - url: https://api.papinet.io
    description: papiNet Mock Server
paths:

  '/orders':
    # get /orders
    get:
      summary: List `orders`
      description: Gets a paginated list of all `orders`.
      parameters:
        - in: query
          name: orderStatus
          description: Filter by status
          required: false
          schema:
            type: string
            enum:
            - ActiveFree
            - ActiveHold
            - Cancelled
            - Complete
            - Delayed
            - FinalPlanning
            - Invoiced
            - Loaded
            - NotReceived
            - OrderLineConfirmed
            - Packed
            - PartiallyShipped
            - Pending
            - Planned
            - ProductionComplete
            - ProductionPlanned
            - ProductionStarted
            - Received
            - ReservedInProductionPlanningSystem
            - Scheduled
            - ShipmentComplete
            - ShipmentPlanned
            - Shuttled
            - Staged
            - Transferred
            - TransferredToMillSystem
            - Unscheduled
            - Unshipped
        - in: query
          name: offset
          description: The number of items to skip before starting to collect the result set
          required: false
          schema:
            type: string
        - in: query
          name: limit
          description: The number of items to return
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfOrders'

  '/orders/{orderId}':
    # get /orders/{orderId}
    get:
      summary: Get an `order`
      description: Gets the details of a specific `order`, including a paginated list of all its lines.
      parameters:
        - in: path
          name: orderId
          schema:
            type: integer
          required: true
          description: UUID of the `order` to get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrder'

components:
  schemas:

    PaginationLinks:
      type: object
      required:
        - next
      properties:
        first:
          type: object
          properties:
            href:
              type: string
        prev:
          type: object
          properties:
            href:
              type: string
        next:
          type: object
          properties:
            href:
              type: string
        last:
          type: object
          properties:
            href:
              type: string

    ListOfOrders:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderHeader'
        links:
          $ref: '#/components/schemas/PaginationLinks'

    GetOrder:
      $ref: '#/components/schemas/Order'

    OrderHeader:
      type: object
      required:
        - id
        - orderNumber
        - orderStatus
        - numberOfLineItems
      properties:
        id:
          type: string
          format: uuid
        orderNumber:
          type: string
        orderStatus:
          type: string
          enum:
            - ActiveFree
            - ActiveHold
            - Cancelled
            - Complete
            - Delayed
            - FinalPlanning
            - Invoiced
            - Loaded
            - NotReceived
            - OrderLineConfirmed
            - Packed
            - PartiallyShipped
            - Pending
            - Planned
            - ProductionComplete
            - ProductionPlanned
            - ProductionStarted
            - Received
            - ReservedInProductionPlanningSystem
            - Scheduled
            - ShipmentComplete
            - ShipmentPlanned
            - Shuttled
            - Staged
            - Transferred
            - TransferredToMillSystem
            - Unscheduled
            - Unshipped
        numberOfLineItems:
          type: integer
          minimum: 0

    OrderLineItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orderLineItemNumber:
          type: string
        orderLineItemStatus:
          type: string
          enum:
            - Accepted
            - Amended
            - Cancelled
            - Counterproposal
            - New
            - NoAction
            - Original
            - PartiallyAccepted
            - Pending
            - Rejected
            - Replaced
        quantities:
          type: array
          items:
            type: object
            properties:
              quantityContext:
                type: string
                enum:
                  - AgreedToClaimValue
                  - Allocated
                  - AllowableSpoilage
                  - Balance
                  - CalledOff
                  - Consumed
                  - Contracted
                  - Credited
                  - CutOff
                  - Damaged
                  - Delivered
                  - Destroyed
                  - Deviation
                  - Forecasted
                  - Freight
                  - Handled
                  - Imposed
                  - Intransit
                  - Invoiced
                  - Loaded
                  - Measured
                  - MeasuredCorrected
                  - OnHand
                  - Ordered
                  - Packed
                  - Planned
                  - Produced
                  - Rejected
                  - Released
                  - Reorder
                  - ReorderPoint
                  - Reserved
                  - Scrapped
                  - Stored
                  - Tested
                  - Transported
                  - Trimmed
                  - Unloaded
                  - UnspecifiedDamage
                  - ValueClaimed
                  - VendorSupplied
                  - Wound
                  - Wrapped
              quantity:
                type: object
                properties:
                  quantityValue:
                    type: number
                  quantityUOM:
                    type: string
                    enum:
                      - Bale
                      - Box
                      - Centimeter
                      - Decimeter
                      - Foot
                      - Gram
                      - HundredPound
                      - Inch
                      - Kilogram
                      - Kilometer
                      - Meter
                      - MetricTon
                      - Millimeter
                      - Package
                      - PalletUnit
                      - Piece
                      - Pound
                      - PulpUnit
                      - Ream
                      - Reel
                      - Sheet
                      - ShortTon
                      - Skid
                      - SquareDecimeter
                      - SquareFeet
                      - SquareInch
                      - SquareMeter
                      - ThousandPieces
                      - ThousandSquareCentimeters
                      - ThousandSquareFeet
                      - ThousandSquareInch
                      - Yard
                  quantityType:
                    type: string
                    enum:
                      - Area
                      - Count
                      - GrossWeight
                      - Length
                      - NetWeight
                      - NetNetWeight
                      - NominalWeight
                      - TareWeight

    Order:
      allOf:
        - $ref: '#/components/schemas/OrderHeader'
        - properties:
            orderLineItems:
              type: array
              items:
                $ref: '#/components/schemas/OrderLineItem'
            links:
              $ref: '#/components/schemas/PaginationLinks'
